{
	acme_ca https://acme.zerossl.com/v2/DV90
	email   $ZEROSSL_EMAIL
}

$DOMAIN {
	root * /usr/share/caddy
	file_server
}

jellyfin.$DOMAIN {
	encode gzip
	reverse_proxy jellyfin:8096
}

transmission.$DOMAIN {
	reverse_proxy transmission:9091
}
