{
	# debug # this is optional - makes Caddy log more details
	acme_ca https://acme.zerossl.com/v2/DV90
	email {$ZEROSSL_EMAIL}

	# enables prometheus metrics
	servers {
		metrics
	}

	# set admin port
	admin :2019
}

{$DOMAIN} {
	redir https://github.com/vic1707
}

jellyfin.{$DOMAIN} {
	reverse_proxy {$JELLYFIN_IP}:8096
}

transmission.{$DOMAIN} {
	reverse_proxy {$TRANSMISSION_IP}:9091
}
