{
	debug
	# metrics { per_host }
	# admin :2019

	servers {
		# https://github.com/fvbommel/caddy-combine-ip-ranges
		trusted_proxies combine {
			# https://github.com/WeidiDeng/caddy-cloudflare-ip
			cloudflare {
				interval 12h # How often cloudflare ip lists are retrieved
				timeout 15s # Maximum time to wait to get a response from cloudflare
			}
			# podman network's IP range
			static 10.89.0.0/26
		}

		# https://github.com/hslatman/caddy-crowdsec-bouncer/issues/33#issuecomment-2241205984
		client_ip_headers Cf-Connecting-Ip X-Forwarded-For
	}

	# https://github.com/mholt/caddy-dynamicdns
	dynamic_dns {
		provider cloudflare {env.CLOUDFLARE_API_TOKEN}
		domains {
			vic1707.xyz
		}
		versions ipv4
	}

	# https://github.com/hslatman/caddy-crowdsec-bouncer
	order crowdsec first
	crowdsec {
		api_url http://crowdsec:8080
		appsec_url http://crowdsec:7422
		api_key {env.CROWDSEC_CADDY_BOUNCER_API_KEY}
		enable_hard_fails
	}
}

(https) {
	# https://github.com/caddy-dns/cloudflare
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

(access_log) {
	log {
		output file /var/log/caddy/access.log
		level DEBUG
	}
}

https://vic1707.xyz {
	import access_log
	import https
	crowdsec
	redir https://github.com/vic1707
}
