{
	# debug # this is optional - makes Caddy log more details
	acme_ca https://acme.zerossl.com/v2/DV90
	email {$ZEROSSL_EMAIL}

	# enables prometheus metrics
	servers {
		metrics
	}

	# set admin port
	admin :2019

	order crowdsec first
	crowdsec {
		api_url http://{$CROWDSEC_IP}:8080
		api_key {$CROWDSEC_API_KEY}
	}
}

{$DOMAIN} {
	crowdsec
	root * /usr/share/caddy
	file_server
}

jellyfin.{$DOMAIN} {
	crowdsec
	reverse_proxy {$JELLYFIN_IP}:8096
}

transmission.{$DOMAIN} {
	crowdsec
	reverse_proxy {$TRANSMISSION_IP}:9091
}
