#!/bin/sh

# Is gateway IP
FEDEX_IP="$(ip route | awk '/default/ {print $3}')"

##############################
######      Caddy       ######
##############################
DOMAIN=""
ZEROSSL_EMAIL=""

##############################
######   Transmission   ######
##############################
OVPN_PROVIDER="PIA"
OVPN_USR=""
OVPN_PWD=""
OVPN_CONFIG="netherlands"
TRANSMISSION_RPC_USERNAME=""
TRANSMISSION_RPC_PASSWORD=""
