#!/bin/sh

# Is gateway IP
FEDEX_IP="$(ip route | awk '/default/ {print $3}')"

##############################
######      Caddy       ######
##############################
DOMAIN=""
ZEROSSL_EMAIL=""

##############################
######   Transmission   ######
##############################
OVPN_PROVIDER="PIA"
OVPN_CONFIG="netherlands"

##############################
######    Wireguard     ######
##############################
# to generate with `podman run ghcr.io/wg-easy/wg-easy wgpw '<passwd>' | awk -F"'" '{print $2}'`
WGUI_PASSWORD_HASH=''
